*{
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.back{
  background-color: lightgreen;
}

.marginn{
  margin-top: 5rem;
  margin-bottom: 6rem;
}
.marg{
  margin-top: 6rem;
  margin-bottom: 6rem;
  color: lightgreen;
}

.margg{
  margin-top: 4rem;
}